@page
@model TurisManager.Pages.PacotesTuristicos.IndexModel
@{
    ViewData["Title"] = "Pacotes Turísticos";
}

<h1>Lista de Pacotes Turísticos</h1>

@if (Model.PacotesTuristicos != null && Model.PacotesTuristicos.Any())
{
    foreach (var pacote in Model.PacotesTuristicos)
    {
        <partial name="_PacotesPartial" model="pacote" />
    }
}
else
{
    <p>Nenhum pacote turístico encontrado.</p>
}