@page
@model TurisManager.Pages.PacotesTuristicos.IndexModel
@{
    ViewData["Title"] = "Pacotes Turísticos";
}

<h1>Pacotes Turísticos</h1>

<div class="row">
    @foreach (var pacote in Model.PacotesTuristicos)
    {
        <div class="col-md-4">
            <partial name="_PacoteCard" model="pacote" />
        </div>
    }
</div>