@page

@if (!string.IsNullOrEmpty(TempData["SuccessMessage"]?.ToString()))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="fas fa-check-circle"></i> @TempData["SuccessMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@model TurisManager.Pages.PacotesTuristicos.IndexModel
@{
    ViewData["Title"] = "Pacotes Turísticos";
}

<h1>Lista de Pacotes Turísticos</h1>

@if (Model.PacotesTuristicos != null && Model.PacotesTuristicos.Any())
{
    foreach (var pacote in Model.PacotesTuristicos)
    {
        <partial name="_PacotesPartial" model="pacote" />
    }
}
else
{
    <p>Nenhum pacote turístico encontrado.</p>
}